.main_header {
    width: 100%;
    background-color: $color-primary;

    .main_header_navigation {
        width: $width-content;
        margin: 0 auto;
        padding: 20px;
    }

    a {
        color: #FFF;
        &:hover {
            color: #F90;
        }
    }
}