* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'Open Sans';
    src: url(/_cdn/fonts/open-sans/OpenSans-Regular.ttf);
}